<div class="row-sm-6">
  <label class="label" for="street">Street</label>
  <input
    type="text"
    name="street"
    class="form-control"
    [(ngModel)]="address.street"
  />
</div>

<div class="row-sm-6">
  <label class="label" for="buildingNo">Building Number</label>
  <input
    type="text"
    name="buildingNo"
    class="form-control"
    [(ngModel)]="address.buildingNumber"
  />
</div>

<div class="row-sm-6">
  <label class="label" for="flatNo">Flat Number</label>
  <input
    type="number"
    name="flatNo"
    class="form-control"
    [(ngModel)]="address.flatNumber"
  />
</div>

<div class="row-sm-6">
  <label class="label" for="governate">Governate</label>
  <select
    class="form-select"
    [(ngModel)]="address.governateID"
    (ngModelChange)="onGovernateChange($event)"
  >
    @for(governate of governates; track governate){
    <option value="{{ governate.governateID }}">
      {{ governate.governateName }}
    </option>
    }
  </select>
</div>

<div class="row-sm-6">
  <label class="label" for="city">City</label>
  <select
    class="form-select"
    [(ngModel)]="address.cityID"
    (ngModelChange)="onCityChange($event)"
  >
    @for(city of cities; track city){
    <option value="{{ city.cityID }}">{{ city.cityName }}</option>
    }
  </select>

  <button
    class="mt-3 btn btn-secondary"
    (click)="onAddAddress()"
    [disabled]="
      !address.street ||
      !address.buildingNumber ||
      !address.flatNumber ||
      !address.governateID ||
      !address.cityID
    "
  >
    Add Address
  </button>
</div>
